<a href="https://colab.research.google.com/github/SnigdhaPanakanti/Snigdha_DATA690/blob/main/Assignment_04/Assignment_04_(Part_A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment - 04

### PART A - Using Python

DATE: 02/24/2022 <br/>
Name: Snigdha Panakanti

1. Code to open "census_costs.txt" file and read all lines into a list named 'line_list':

In [1]:
with open("census_costs.txt","r") as f:
    line_list = f.readlines()

line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

In [2]:
len(line_list)

25

2. Extracting first 2 lines into a different list named 'top2_list':

In [3]:
top2_list = line_list[0:2]
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

3. Putting rest of the lines in 'data_list':

In [4]:
data_list = line_list[2:]
data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11\n']

4. Extracting the column 'Census Year' from the data_list into 'year_list' and removing '*' from the last element:

In [5]:
year_list = []

for line in data_list:
    year = line[0:4]
    year_list.append(year)
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

5. Extracting 'Total Population' column from data_list to 'pop_list':

In [6]:
pop_list = []
for line in data_list:
    part_list = line.split("\t")
    pop = part_list[1]
    pop_list.append(pop)
print(pop_list)

['3,929,214', '5,308,483', '7,239,881', '9,633,822', '12,866,020', '17,069,458', '23,191,876', '31,443,321', '38,558,371', '50,155,783', '62,979,766', '76,303,387', '91,972,266', '105,710,620', '122,775,046', '131,669,275', '151,325,798', '179,323,175', '203,302,031', '226,542,199', '248,718,301', '281,421,906', '308,745,538']

- Cleansing the data in 'pop_list' by removing ',' from the elements:

In [7]:
cleansed_pop_list = []

for pop in pop_list:
    cleansed_pop = pop.replace(",","")
    cleansed_pop_list.append(int(cleansed_pop))
print(cleansed_pop)

308745538

6. Extracting 'Census Cost' column from data_list to 'cost_list':

In [8]:
cost_list = []
for line in data_list:
    part_list = line.split("\t")
    cost = part_list[2]
    cost_list.append(cost)
print(cost_list)

['$44,377', '$66,109', '$178,445', '$208,526', '$378,545', '$833,371', '$1,423,351', '$1,969,377', '$3,421,198', '$5,790,678', '$11,547,127', '$11,854,000', '$15,968,000', '$25,117,000', '$40,156,000', '$67,527,000', '$91,462,000', '$127,934,000', '$247,653,000', '$1,078,488,000', '$2,492,830,000', '$4.5 Billion', '$13 Billion']

- Cleansing the 'cost_list' by removing '$', '.' , ' ' , ','  and replacing 'Billion' with 0's:

In [9]:
cleansed_cost_list = []

for cost in cost_list:
    cleansed_cost = cost.replace(",","").replace(".","").replace(" ","").replace("Billion","000000000")
    cleansed_cost_list.append(cleansed_cost[1:])
print(cleansed_cost_list)

['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '45000000000', '13000000000']

7. Extracting 'Average Cost Per Person' from the data_list into 'avg_list':

In [10]:
avg_list = []
for line in data_list:
    part_list = line.split("\t")
    avg_cost = part_list[3]
    avg_list.append(avg_cost[:-1])
print(avg_list)

['1.13 cents', '1.24 cents', '2.46 cents', '2.16 cents', '2.94 cents', '4.88 cents', '6.14 cents', '6.26 cents', '8.87 cents', '11.54 cents', '18.33 cents', '15.54 cents', '17.07 cents', '23.76 cents', '32.71 cents', '51.29 cents', '60.44 cents', '71.34 cents', '$1.22', '$4.76', '$10.02', '$15.99', '$42.11']

- Cleansing 'avg_list' by removing 'cents', '$' and calculating all the elements so that they are measured in dollar:

In [11]:
cleansed_avg_list = []
for avg_cost in avg_list: 
    cleansed_avg = avg_cost.replace(" cents","").replace("$","")
    cleansed_avg_list.append(cleansed_avg)
print(cleansed_avg_list)

['1.13', '1.24', '2.46', '2.16', '2.94', '4.88', '6.14', '6.26', '8.87', '11.54', '18.33', '15.54', '17.07', '23.76', '32.71', '51.29', '60.44', '71.34', '1.22', '4.76', '10.02', '15.99', '42.11']

8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [12]:
with open("/content/census_costs.csv", "w") as f:
    f.writelines(top2_list)

    for i in range(len(year_list)):
        f.write(str(year_list[i]))
        f.write(",")
        f.write(str(cleansed_pop_list[i]))
        f.write(",")
        f.write(str(cost_list[i]))
        f.write(",")
        f.write(str(avg_list[i]))

        if i != (len(year_list)- 1):
            f.write("\n")

9. Code to open the newly-created file "census_cost.csv", read all lines and display them:

In [13]:
with open("/content/census_costs.csv", "r") as cfile:
    df = cfile.readlines()

df

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790,3929214,$44,377,1.13 cents\n',
 '1800,5308483,$66,109,1.24 cents\n',
 '1810,7239881,$178,445,2.46 cents\n',
 '1820,9633822,$208,526,2.16 cents\n',
 '1830,12866020,$378,545,2.94 cents\n',
 '1840,17069458,$833,371,4.88 cents\n',
 '1850,23191876,$1,423,351,6.14 cents\n',
 '1860,31443321,$1,969,377,6.26 cents\n',
 '1870,38558371,$3,421,198,8.87 cents\n',
 '1880,50155783,$5,790,678,11.54 cents\n',
 '1890,62979766,$11,547,127,18.33 cents\n',
 '1900,76303387,$11,854,000,15.54 cents\n',
 '1910,91972266,$15,968,000,17.07 cents\n',
 '1920,105710620,$25,117,000,23.76 cents\n',
 '1930,122775046,$40,156,000,32.71 cents\n',
 '1940,131669275,$67,527,000,51.29 cents\n',
 '1950,151325798,$91,462,000,60.44 cents\n',
 '1960,179323175,$127,934,000,71.34 cents\n',
 '1970,203302031,$247,653,000,$1.22\n',
 '1980,226542199,$1,078,488,000,$4.76\n',
 '1990,248718301,$2,492,830,000,$10.02\n',
 '2000,281421906,$4.5 Billion,$15.99\n',
 '2010,308745538,$13 Billion,$42.11']