<a href="https://colab.research.google.com/github/SnigdhaPanakanti/Snigdha_DATA690/blob/main/Assignment_02/Assignment_02_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 02**
### **In-Class Practice**


- **Name:** Snigdha Panakanti
- **Date:** 02/07/2022

In [4]:
import pandas as pd
DATA_URL = "https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_02/survey.csv"

In [8]:
df = pd.read_csv(DATA_URL)
df.head(3)

                   Timestamp  ...             12. Other courses taking this semester
0  2022/01/25 5:14:48 PM EST  ...   Introduction to Data Science | DATA 601;SENG 601
1  2022/01/25 5:37:24 PM EST  ...  Introduction to Data Science | DATA 601;Platfo...
2  2022/01/25 7:12:07 PM EST  ...  Intro to Data Analysis and Machine Learning | ...

[3 rows x 13 columns]

In [9]:
df.tail(3)

                     Timestamp  ...             12. Other courses taking this semester
23   2022/01/31 6:50:31 PM EST  ...  Intro to Data Analysis and Machine Learning | ...
24  2022/01/31 11:36:40 PM EST  ...  Platforms for Big Data Processing | DATA 603;E...
25   2022/02/01 9:01:01 AM EST  ...  Capstone in Data Science | DATA 606;Special To...

[3 rows x 13 columns]

In [7]:
df.sample(3)

                     Timestamp  ...             12. Other courses taking this semester
6   2022/01/27 11:35:51 AM EST  ...  Platforms for Big Data Processing | DATA 603;S...
8    2022/01/28 1:53:53 AM EST  ...  Intro to Data Analysis and Machine Learning | ...
14  2022/01/31 12:30:14 PM EST  ...  Introduction to Data Science | DATA 601;Data M...

[3 rows x 13 columns]

In [10]:
df.describe()

                        Timestamp  ...   12. Other courses taking this semester
count                          26  ...                                       26
unique                         26  ...                                       20
top     2022/01/25 5:14:48 PM EST  ...  Introduction to Data Science | DATA 601
freq                            1  ...                                        3

[4 rows x 13 columns]

In [11]:
df.dtypes

Timestamp                                            object
1. My primary educational background                 object
2. My primary job function                           object
3. My level of computer programing knowledge         object
4. My level of Python progrmming knowledge           object
5. My level of Statistics knowledge                  object
6. My Familarity with GitHub                         object
7. My gender                                         object
8. My Birth Year                                     object
9. What do you enjoy doing in your leisure time?     object
10. What do you expect to get out of this course?    object
11. What is your long-term career goal?              object
12. Other courses taking this semester               object
dtype: object

In [13]:
df.columns

Index(['Timestamp', '1. My primary educational background',
       '2. My primary job function',
       '3. My level of computer programing knowledge',
       '4. My level of Python progrmming knowledge',
       '5. My level of Statistics knowledge', '6. My Familarity with GitHub',
       '7. My gender', '8. My Birth Year',
       '9. What do you enjoy doing in your leisure time?',
       '10. What do you expect to get out of this course?',
       '11. What is your long-term career goal?',
       '12. Other courses taking this semester'],
      dtype='object')